<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    Login
    </title>
  </head>
  <body>
    Show flash message here!
    https://docs.djangoproject.com/en/1.10/ref/contrib/messages/

    <form class="" action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <p> name: <input type="text" name='name'> </p>
      <p>email <input type="text" name='email'></p>
      <input type="submit" value= 'login'>
    </form>

    <form class="" action="{% url 'register' %}" method="post">
      {% csrf_token %}
      <p><input type="text" name='name'></p>
      <p><input type="text" name='email'></p>
      <input type="submit" value= 'register'>
    </form>
  </body>
</html>
